.Tabla{
    background-color: antiquewhite;
    position: fixed;
    width: 50%;
    top: 30%;
    left: 25%;
    text-align: center;
}

body{
    background-color:yellow
}

#Encabezado{
    background-color: chocolate;
}

h1{
    position: fixed;
    width: 50%;
    top: 20%;
    left: 25%;
    text-align: center;
}